.logo{
            color: black;
            position: absolute;
            top: 10px;
            left: 25px;
            font-size: 60px;
        }

        .menu{
            position: absolute;
            top: 30px;
            left: 110px;
            font-size: 23px;
            word-spacing: 20px;
        }

        .menu a {
            position: relative;
            text-decoration: none;
            color: black;
        }

        .menu a::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 0;
            height: 2px;
            background: black;
            transition: width 0.3s ease;
        }

        .menu a:hover::after {
            width: 100%;
        }

        .liny {
            position: absolute;
            top: 65px;
            left: 15px;
            width: 98%;
            height: 2px;
            background: #ccc;
            margin-top: 15px;
        }

        h1 {
            position: absolute;
            top: 70px;
            left: 20px;
        }

        .new-year{
            position: absolute;
            top: 150px;
            left: 15px;
            width: 96%;
            height: 580px;
            border-radius: 50px;
            background-color: #ccc;
        }

        .green-click {
            position: absolute;
            top: 620px;
            left: 1200px;
            height: 65px;
            width: 160px;
            background-color: rgb(58, 219, 58);
            color: white;
            border-radius: 24px;
            text-decoration: none;
            font-size: 20px;
            border: none;
            padding: 0;
            margin: 0;
            box-shadow: none;
            outline: none;
            cursor: pointer;
            font: inherit;
            font-size: 23px;
        }

        .products {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 25px;
            margin-top: 780px; /* МІНЕ ОСЫ ЖЕР */
            padding: 0 30px;
        }


        .card {
            background: #d9d9d9;
            border-radius: 25px;
            padding: 12px;
        }

        .img {
            background: #9e9e9e;
            height: 120px;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
        }

        .bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
        }

        .bottom button {
            background: #a7f3a7;
            border: none;
            border-radius: 15px;
            padding: 5px 10px;
            cursor: pointer;
        }

        /* ACTIONS */
        .actions {
            text-align: right;
            margin-top: 25px;
        }

        .buy {
            background: #9cf29c;
            border: none;
            border-radius: 20px;
            padding: 10px 20px;
            margin-right: 10px;
        }

        .cart {
            background: #9ccaf2;
            border: none;
            border-radius: 20px;
            padding: 10px 20px;
        }

        /* FOOTER */
        footer {
            position: relative;
            top: 20px;
            left: -10px;
            background: #d9d9d9;
            text-align: center;
            padding: 40px;
            width: 1360px;
        }

        .all-cards{
            
        }
